{% load browserid %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'kind/style.css' %}" />
<html>
  <head>
    {% browserid_css %}
  </head>
    <body>
      {% browserid_info %}

  <header>
      <div class="authentication">
        {% if user.is_authenticated %}
          {% browserid_logout text='Logout' %}
        {% else %}
          {% browserid_login text='Login' color='dark' %}
        {% endif %}
      </div>
      <h1>Specification list</h1>
    </header>
<article>


{% if latest_spec_list %}
    <ul>
    {% for spec in latest_spec_list %}
        <li><a href="{% url 'kind:detail' spec.id %}">{{ spec.spec_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No specs are available.</p>
{% endif %}
</article>
   <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    {% browserid_js %}
    </body>
</html>
