{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'kind/style.css' %}" />

{% if latest_spec_list %}
    <ul>
    {% for spec in latest_spec_list %}
        <li><a href="{% url 'kind:detail' spec.id %}">{{ spec.spec_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No specs are available.</p>
{% endif %}

Until image is removed, following is included as reference to source of background image (inverted and cropped). 
<br>
<a href="http://www.flickr.com/photos/gfhdickinson/7271324448/" title="Star Trails by gfhdickinson, on Flickr"><img src="http://farm9.staticflickr.com/8152/7271324448_cab1afb512_t.jpg" width="100" height="67" alt="Star Trails"></a>
